<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site.title}}</title>
  <meta name="description" content="{{site.description}}" />
  <link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  {% if site.g_tag %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{site.g_tag}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', '{{site.g_tag}}');
  </script>
  {% endif %}

  <!-- Meta Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '378943363222422');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src=https://www.facebook.com/tr?id=378943363222422&ev=PageView&noscript=1
  /></noscript>
  <!-- End Meta Pixel Code -->
  
  {% if site.open_graph %}
    <meta property="og:title" content="{{site.open_graph.title}}" />
    <meta property="og:description" content="{{site.open_graph.description}}" />
    <meta property="og:image" content="{{site.open_graph.image}}" />
    <meta property="og:url" content="{{site.open_graph.url}}" />
    <meta property="og:type" content="{{site.open_graph.type}}" />
    <meta property="og:site_name" content="{{site.open_graph.site_name}}">
    {% if site.open_graph.fb_app_id != "" %}
      <meta property="fb:app_id" content="{{site.open_graph.fb_app_id}}" />
    {% endif %}
  {% endif %}
  {% if site.twitter_meta %}
    <meta name="twitter:title" content="{{site.twitter_meta.title}}">
    <meta name="twitter:description" content="{{site.twitter_meta.description}}">
    <meta name="twitter:image" content=" {{site.twitter_meta.image}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{site.twitter_meta.username}}">
  {% endif %}
  
  {% bundledCss %}
  
</head>
<body class="w-full bg-loco-tan">
<div class="relative page-wrapper overflow-x-hidden">
  {% include 'global/header', nav_items: navLinks %}
  <main>
    {{content}}
  </main>
  {% include 'global/footer' %}
  </div>
  {% bundledJs %}
</body>
</html>