---
layout: layouts/base.liquid
---

{% comment %} Hero Section {% endcomment %}
<section id="hero" class="relative bg-loco-orange overflow-hidden">
  <div>
    <div class="relative">
      <div class="aspect-w-16 aspect-h-9 overflow-hidden">
        {% image "/assets/img/lp-hero.jpg", ""  %}
      </div>
      <div>
        <div class="absolute left-0 right-0 translate-y-1/2" style="transform: rotate(12deg); bottom:6%;width: 110%;">
          <span class="block w-full opacity-60 filter saturate-150 text-loco-orange">
            {% include 'icons/loco-logo', icon_class: 'fill-current block w-full' %}
          </span>
        </div>
      </div>
      <div class="absolute -bottom-1px left-0 w-full text-loco-orange">
        <svg role="presentation" class="fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480.34 75.29">
          <g>
            <g id="Layer_1-2" data-name="Layer 1">
              <polygon points="480.33 44.28 324.66 67.26 0 0 0 75.29 480.34 75.29 480.33 44.28" />
            </g>
          </g>
        </svg>
      </div>
    </div>
    <div class="md:absolute md:top-0 md:left-0 md:z-10 md:w-full md:h-full md:flex md:items-center">
      <div class="mx-auto">
        <div class="md:grid md:grid-cols-3">
          <div class="relative -mt-14 sm:mt-0 px-6 py-14 text-white md:col-span-2 md:col-start-2">
          <div class="js-show-on-scroll">
            <span class="inline-block md:hidden lg:inline-block h-3 w-12 bg-black mb-6"></span>
            <h1 class="sr-only">Loco Cookers</h1>
            <div clas="flex lg:flex-col">
              <p class="text-4xl md:text-5xl lg:text-7xl text-upper font-bold uppercase">Hey Neighbor… <br/> Whatcha Griddlin? </p>
              <div class=" mt-6 xl:mt-12 relative md:w-1/2 xl:w-2/3 shadow-lg">
                <div class="aspect-w-16 aspect-h-9 overflow-hidden">
                  {% image "/assets/img/thumbnail.png", ""  %}
                </div>
                <button class="text-white absolute inset-0 w-full text-center flex items-center justify-center" data-custom-open="modal-1">
                <svg class="fill-current block w-20 lg:w-36" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 178.86 181.95"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M60.59,19.7c-16.29,3.72-31.66,11-42.86,23.62-8.61,9.74-13.35,22.22-14.87,35-2.74,22.9,2.77,48.5,16.48,67.25,6.94,9.49,17.31,15.6,28,20.16a106.52,106.52,0,0,0,43,8.14c27.19-.31,56-11,72.27-33.63,17.95-24.95,13.25-59.14.57-85.26C149.47,26.81,120.84,9,89.78,7.47,59.28,6,30,21.19,14.41,47.55-3,77.11,1.36,112.8,21.17,140c19.57,26.85,54.74,47.77,88.78,40.51,18.1-3.86,33.94-17.38,45.93-30.89a89.82,89.82,0,0,0,21.28-41.76c5.56-27.56-2.8-56.51-21.31-77.44C136.89,9,108.22-3,79.63.66c-30,3.86-58.57,25.9-72.29,52.62-9.9,19.3-9.65,43.31-.07,62.68,19.21,38.86,72.1,62.37,113.65,49.7,28.61-8.72,43.94-34.59,49.53-62.55a12.7,12.7,0,0,0,0-3.59c0-.19-.26-2-.47-.94-5,25-18.9,48.33-43.14,58.55-20.69,8.74-44.62,6.47-65.24-1.25-21-7.85-40.36-22.22-51.9-41.62C4.57,105.57.54,95,.78,84.75c.27-12,5.08-23.49,11.55-33.37C29.62,25,60.17,5.71,92.15,6.15c29,.4,56,17.06,71.92,40.89,8,12,13.38,26.37,13.9,40.82.58,15.92-5.31,31.7-13.93,44.85-10.18,15.53-25.95,30.22-42.91,38-15.34,7-32.91,6.35-48.71,1.29-33.14-10.62-62.9-41.73-68-76.72C1.79,77.28,9.8,58.06,20.5,43.9A79.68,79.68,0,0,1,56.73,17.56C85.05,7.16,118,13,141.28,32c13.55,11.08,22.36,26.24,27.89,42.66s6.36,33.68-.55,49.83c-11.21,26.21-39.21,40.41-66.23,44a108.89,108.89,0,0,1-43.55-3c-12.44-3.46-25.85-9.46-35-18.79C7.6,130.25.48,102.43,3.34,80A67.55,67.55,0,0,1,19.48,43.64c10.6-12,25.85-18.76,41.14-22.43.21-.05,0-1.51,0-1.51Z"/><path d="M126.66,89.27a2,2,0,0,1,0,3.4l-26.18,15.12L74.3,122.91a2,2,0,0,1-3-1.7V60.74a2,2,0,0,1,3-1.7l26.18,15.12Z"/></g></g></svg>
                <span class="sr-only">Play Video</span>
              </button>
              </div>             
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} Product Section {% endcomment %}
<section id="griddles" class="relative bg-loco-orange">
  <div class="js-show-on-scroll px-6 md:pt-8">
    <div class="container mx-auto">
      <h2
        class="bg-black px-6 py-4 text-loco-tan text-xl md:text-2xl lg:text-3xl font-serif font-strong font-bold text-center max-w-xl lg:max-w-4xl  tracking-wide mx-auto">
        Introducing Griddles from LoCo. <br class="hidden lg:block" /> Your new favorite way to cook.
      </h2>
    </div>
  </div>
  {% if griddles.size > 0 %}
  <div class="js-show-on-scroll px-2 md:px-3 mt-6 md:mt-10">
    <div class="max-w-4xl lg:container mx-auto mb-12 lg:mb-16">
      {% include 'components/headline', headline_text: 'The Griddles', headline_tag: 'h3' %}
      
      <ul class="mt-6 space-y-8 lg:space-y-0">
        {% for griddle in griddles %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% if thecycle == 'even' %}
        {% assign _even = true %}
        {% else %}
        {% assign _even = false %}
        {% endif %}
        {% assign _prodDelay = 250 | times: forloop.index %}
        <li class="{%if forloop.last%}border-b-2 border-loco-tan{%endif%}">
          {% include 'components/product', content: griddle, even: _even  %}
        </li>
        {% endfor %}
      </ul>
      
  {% endif %}
  <div class="js-show-on-scroll mt-8 pb-12 lg:pb-16">
    <h3 class="font-serif max-w-xs md:max-w-none mx-auto text-center text-loco-tan text-2xl lg:text-3xl font-bold">
      Available at your favorite grilling
      retailers.</h3>
    {% if retailers.size > 0 %}
    <div class="container mx-auto max-w-4xl">
      <ul class="grid grid-cols-2 gap-6 lg:gap-8 mt-8 items-center justify-center content-center">
        {% for retailer in retailers %}
        {% assign _retDelay = 250 | times: forloop.index %}
        <li>
          <a class="block text-center" href="{{retailer.url}}" target="_blank">
            {% if retailer.image and retailer.image != "" %}
            <img class="mx-auto w-36" src="{{retailer.image}}" alt="{{retailer.name}} logo">
            {% endif %}
            <span class="sr-only">{{retailer.name}}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</section>

{% comment %} Newsletter Section {% endcomment %}
<section id="newsletter" class="relative h-auto">
  <div class="relative z-1">
    <div class="bg-loco-umber px-6 pt-8 lg:bg-transparent lg:absolute lg:z-10 lg:top-0 lg:left-0 lg:w-full">
      <div class="js-show-on-scroll text-white lg:p-8 lg:container lg:mx-auto xl:max-w-7xl">
        <div  class="lg:grid lg:grid-cols-2 lg:gap-20">
          <h2 class="sr-only">Subscribe to the LoCo Newsletter</h2>
          <p class="text-xl md:text-3xl uppercase font-bold mb-8">Pull up a seat at the table for the latest product news and fresh recipe ideas</p>
          <div>
            <form id="newsLetterForm" action="{{site.formspree}}" method="POST">
              <div class="lg:w-3/4">
                <label for="emailAddress" class="sr-only">Your Email Address</label>
                <input name="emailAddress" id="emailAddress" class="w-full p-4 text-black mb-6 focus:outline-none focus:ring focus:border-loco-blue" type="email" placeholder="Your Email Address" required>
              </div>
              {%include "components/button", btn_id: "newsLetterFormSend", btn_text: "Subscribe", btn_type: "submit" %}
            </form>
            <p class="text-white font-semibold text-xl" id="newsLetterFormStatus"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative z-1 lg:hidden -mt-1px">
      <svg role="presentation" class="w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 780.28 345.13">
        <defs>
          <style>
            .cls-1 {
              fill: #e15829;
            }

            .cls-2 {
              fill: #983820;
            }
          </style>
        </defs>
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <polygon class="cls-1" points="0 345.13 780.28 94.05 780.28 0 0 235.83 0 345.13" />
            <polygon class="cls-2" points="0 235.83 780.28 0 0 0 0 235.83" />
          </g>
        </g>
      </svg>
    </div>
    <div class="hidden lg:block lg:absolute lg:-top-1px lg-left:0 lg:w-full lg:z-1">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1441.16 663">
        <defs>
          <style>
            .cls-x {
              fill: #e15829;
            }

            .cls-y {
              fill: #983820;
            }
          </style>
        </defs>
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <polygon class="cls-x"
              points="1297.16 228 311.16 526 125.16 0 0 0 229.16 663 1441.16 273 1439.9 0 1297.16 0 1297.16 228" />
            <polygon class="cls-y" points="1297.16 228 1297.16 0 125.16 0 311.16 526 1297.16 228" />
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="relative -z-1 -mt-2/5 lg:mt-0">
    {% image "/assets/img/bg-image.jpg", ""  %}
    <div class="absolute right-0 z-1 w-1/2 top-18p lg:top-30p" style="transform: rotate(-20deg); ">
      <span class="block w-full opacity-50 filter saturate-150 text-loco-orange">
        {% include 'icons/loco-logo', icon_class: 'fill-current block w-full' %}
      </span>
    </div>
    <div class="absolute -bottom-1px left-0 w-full z-10">
      <svg role="presentation" class="w-full" viewBox="0 0 1320 516" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1440 0L0 516H1440V0Z" fill="#DCCFAF" />
      </svg>
    </div>
  </div>

</section>

{% comment %} Recipe Section {% endcomment %}

<section id="recipes" class="px-3">
  <div class="container mx-auto relative -mt-20 lg:-mt-1/4 js-show-on-scroll">
    <div class="">
      {% include 'components/headline', headline_text: "Whatcha Griddlin' Next? 
      ", headline_tag: 'h2' %}
    </div>

    <div class="pt-12">
      {% if recipes.size > 0 %}
      <ul class="lg:grid lg:grid-cols-4 lg:grid-rows-2 lg:gap-6 space-y-6 lg:space-y-0">
        {% for recipe in recipes %}

        {% assign gridClass = "lg:row-span-2 lg:col-span-2 lg:md:row-span-4" %}
        {% comment %}
        {% elsif forloop.index == 2 %}
        {% assign gridClass = "lg:row-span-1 lg:col-span-1" %}
        {% elsif forloop.index == 3 %}
        {% assign gridClass = "lg:row-span-1 lg:col-span-1" %}
        {% endcomment %}
        <li class="{{gridClass}} h-full">
          <article class="relative flex flex-col bg-black h-full">
            <div class="aspect-w-3 aspect-h-2 lg:h-full top-0 left-0 w-full">
              <div class="bg-gradient-to-t opacity-80 from-black z-20 w-full h-full"></div>
              {% assign _recipeAlt = "photo of" | append: recipe.name %}
              {% image recipe.image, _recipeAlt, "recipe-image"  %}
            </div>
            <div class="absolute z-30 bottom-0 left-0 w-full">
              <div class="flex items-center">
               <div class="p-6 text-white">
                <h3 class="font-serif font-bold text-2xl">{{recipe.name}}</h3>
                <div class="inline-flex">
                  <p>
                    <span class="sr-only">Difficulty: </span>
                    {{recipe.difficulty}}
                  </p>
                  <span class="mx-3">|</span>
                  <p>
                    <span class="sr-only">Time: </span>
                    {{recipe.time}}
                  </p>
                </div>
              </div>
                <a class="inline-block ml-auto text-white p-6 font-bold uppercase tracking-wider" href="{{recipe.url}}" target="_blank">
                  <span>Watch Video</span>
                </a>
              </div>
             
            </div>
          </article>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</section>


{% comment %} About Section {% endcomment %}
<section id="about" class="relative z-20">
  <div class="px-6 py-12 lg:py-20 js-show-on-scroll">
    <div  class="container mx-auto mb-8">
      {% include 'components/headline', headline_text: 'About Loco Cookers', headline_tag: 'h2' %}
      <div  class="mt-8 border-2 border-loco-orange lg:flex">
        <div class="p-4 md:hidden lg:block border-b-2 lg:border-b-0 lg:border-r-2 border-loco-orange lg:w-1/4">
          <div class="bg-loco-orange h-full lg:flex lg:items-center lg:justify-center">
            {% image "/assets/img/loco-square.png", "LoCo Cookers logo" %}
          </div>
        </div>
        <div class="lg:flex-1 flex flex-col">
          <div class="border-b-2 border-loco-orange lg:flex lg:w-full lg:flex-1">
            <div
              class="flex items-center justify-center w-full p-4 border-b-2 border-loco-orange lg:border-b-0 lg:border-r-2">
              <span class="block mr-4">
                {% include 'icons/heat' icon_class: 'block' %}
              </span>
              <p class="font-bold uppercase tracking-wide text-loco-umber text-xl xl:text-2xl">Made To Gather</p>
            </div>
            <div class="flex w-full">
              <div class="flex-1 flex items-center justify-center  p-4 lg:px-8">
                <span class="sm:mr-6 lg:mr-4">
                  {% include 'icons/clean' icon_class: 'mx-auto block' %}
                </span>
                <p
                  class="hidden sm:block uppercase font-bold text-xl sm:text-2xl lg:text-xl xl:text-2xl text-loco-umber">
                  Cleans
                  <br> up Fast</p>
              </div>
              <div class="flex-intial p-4 lg:px-8 border-l-2 border-loco-orange flex items-center justify-center">
                <span class="block">
                  {% include 'icons/weather' icon_class: 'block' %}
                </span>
              </div>
              <div class="flex-initial flex-initial p-4 lg:px-8 border-l-2 border-loco-orange flex items-center justify-center">
                <span class="block">
                  {% include 'icons/strong' icon_class: 'block' %}
                </span>
              </div>
            </div>
          </div>
          <div class="px-4 py-8  lg:px-8 text-center border-b-2 border-loco-orange lg:w-full lg:flex-1 flex flex-col items-center justify-center">
            <h3 class="font-bold uppercase tracking-wide text-loco-orange text-2xl md:text-3xl xl:text-4xl">WE WERE MADE FOR THIS AND WE LOVE IT.</h3>
          </div>
          <div class="lg:flex lg:w-full lg:flex-1">
            <div
              class="flex items-center justify-center p-4 lg:px-8 border-b-2 border-loco-orange lg:border-b-0 lg:border-l-2 lg:flex-1 lg:order-2">
              <span class="block mr-4">
                {% include 'icons/timer' icon_class: 'block' %}
              </span>
              <p class="font-bold uppercase tracking-wide text-loco-umber text-xl xl:text-2xl">Cook Faster, Party Longer
              </p>
            </div>
            <div class="flex items-center lg:order-1">
              <div class="flex-1 border-loco-orange h-full">
                <div class="flex items-center justify-center h-full p-4 lg:px-8">
                  <span class="block sm:mr-4">
                    {% include 'icons/approved' icon_class: 'block' %}
                  </span>
                  <p class="hidden sm:block font-bold uppercase tracking-wide text-loco-umber text-xl xl:text-2xl">
                    Join the Party</p>
                </div>
              </div>
              <div class="flex-initial p-4 lg:px-8 border-l-2 border-loco-orange">
                <div class="flex items-center justify-center">
                  <span class="block">
                    {% include 'icons/party' icon_class: 'block mx-auto' %}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div  class="mt-12 lg:mt-24 max-w-6xl mx-auto">
      <div class="md:grid md:grid-cols-3 lg:grid-cols-4 md:gap-8 lg:gap-12">
        <h3 class="mb-8 text-xl md:text-2xl font-bold uppercase">So feel free to pull up a chair and go <span
            class="normal-case">LoCo</span>
          with us</h3>
        <div class="md:col-span-2 lg:col-span-3 text-lg space-y-6">
          <p>We’ve spent the last 25+ years combined in the outdoor cooking industry, but we cut our teeth (literally)
            on
            rib bones and ice-cold pull-top cans on the porch with family and friends. If there’s one thing that rings
            in
            our ears from childhood, it’s the voices of our grandparents, aunts, uncles, neighbors and friends saying,
            “Pull up a chair and take a seat.” Our best memories, toughest lessons, favorite stories and secret recipes
            were discovered sitting around tables. Based solely on our experiences, we believe inviting somebody to pull
            up a chair might just be the simplest way to make the world a better place…and that is something we can all
            do.</p>
          <p>We’re simple people from East Texas and South Alabama who appreciate the finer things in life. In
            everything
            we do, whether it’s work or play, excellence is our standard. We don’t settle for ‘good enough’ and believe
            you shouldn’t have to, either. That’s why we build each of our products with YOU in mind. Cultivating great
            experiences is part of our DNA, which is why we focus on functionality and usability when developing our
            products, hoping to make your experience as good as it should be. So feel free to pull up a chair and go
            #LoCo
            with us. </p>
            <div class="md:flex md:items-center relative z-40">
            <button onclick="window.open('https://www.lococookers.com/pages/about-loco','_blank');" class="inline-block px-6 py-4 text-white text-center align-middle bg-loco-orange hover:bg-black focus:bg-black transition-colors font-bold uppercase tracking-wider text-lg cursor-pointer" type="button" target="_blank">
Learn More About Loco</button>
            <ul class="mt-6 md:mt-0 md:ml-6 flex space-x-6">
              <li>
                <a href="https://www.facebook.com/LoCoCookers/" target="_blank" class="text-black hover:text-loco-umber focus:text-loco-umber">
                  <svg class="fill-current block w-8" role="presentation" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Facebook</title><path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/></svg>
                  <span class="sr-only">Facebook</span>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/lococookers/" target="_blank" class="text-black hover:text-loco-umber focus:text-loco-umber">
                <svg class="fill-current block w-8" role="presentation" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Instagram</title><path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"/></svg>
                  <span class="sr-only">Instagram</span>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/lococookers" target="_blank" class="text-black hover:text-loco-umber focus:text-loco-umber">
                <svg class="fill-current block w-8" role="presentation" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>YouTube</title><path d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/></svg>
                  <span class="sr-only">YouTube</span>
                </a>
              </li>
            </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
     <button class="modal__close " aria-label="Close modal" data-micromodal-close>
        <svg class="fill-current w-4 h-4" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 460.775 460.775" style="enable-background:new 0 0 460.775 460.775;" xml:space="preserve">
    <path d="M285.08,230.397L456.218,59.27c6.076-6.077,6.076-15.911,0-21.986L423.511,4.565c-2.913-2.911-6.866-4.55-10.992-4.55
      c-4.127,0-8.08,1.639-10.993,4.55l-171.138,171.14L59.25,4.565c-2.913-2.911-6.866-4.55-10.993-4.55
      c-4.126,0-8.08,1.639-10.992,4.55L4.558,37.284c-6.077,6.075-6.077,15.909,0,21.986l171.138,171.128L4.575,401.505
      c-6.074,6.077-6.074,15.911,0,21.986l32.709,32.719c2.911,2.911,6.865,4.55,10.992,4.55c4.127,0,8.08-1.639,10.994-4.55
      l171.117-171.12l171.118,171.12c2.913,2.911,6.866,4.55,10.993,4.55c4.128,0,8.081-1.639,10.992-4.55l32.709-32.719
      c6.074-6.075,6.074-15.909,0-21.986L285.08,230.397z"/>

    </svg>

     <span class="sr-only">Close Modal</span>
     </button>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title sr-only" id="modal-1-title">
            LoCo Griddles Video
          </h2>
        </header>
        <main class="modal__content" id="modal-1-content">
          <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/665680973' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen allow="autoplay; fullscreen"></iframe></div>
          <script src="https://player.vimeo.com/api/player.js"></script>
        </main>
      </div>
    </div>
  </div>
