{% assign _content = content %}
{% assign _i = even %}

<article class="md:border-t-2 border-loco-tan">
  <div class="lg:grid lg:grid-cols-5">
    {% comment %} Product Image {% endcomment %}
    <div class="md:py-6 lg:p-6 lg:col-span-2 {% if _i == true %}lg:order-2 lg:border-l-2 border-loco-tan{% endif %}">
      {% image _content.image, _content.name  %}  
    </div>
    {% comment %} Product Text {% endcomment %}
    <div class="md:grid md:grid-cols-2 md:border-t-2 lg:border-t-0   border-loco-tan lg:col-span-3 {% if _i == true %} lg:border-l-0 {% else %} lg:border-l-2 {% endif %}">
      <div class="py-6 md:pr-6 lg:p-6 flex flex-col justify-center items-center">
        <h3 class="text-white text-2xl lg:text-4xl font-bold">{{{_content.name}}</h3>
        {% comment %}
        <p class="mt-6 text-white">{{_content.description}}</p>
        <ul class="mt-4 list-disc ml-6">
          {% for _detail in _content.details %}
          <li class="text-white">{{_detail}}</li>
          {% endfor %}
        </ul>
        {% endcomment %}
      </div>
      {% comment %} Product Icons {% endcomment %}
      <div class="md:border-l-2 border-loco-tan">

        <div class="border-t-2 lg:border-t-0 md:border-0 border-loco-tan xl:h-2/3">
          <div class="flex md:h-full">
            <div class="w-3/5 flex flex-col h-full items-stretch">
              <div class="flex-1 p-4 flex items-center justify-items-stretch">
                <span class="mr-6 lg:mr-4">
                  {% include 'icons/clean' icon_class: 'mx-auto block' %}
                </span>
                <p class="flex-1 uppercase font-bold text-xl sm:text-2xl lg:text-xl xl:text-2xl text-loco-tan text-center"> {{_content.details[0]}}</p>
              </div>
              <div class="flex-1 flex items-center border-t-2 border-loco-tan p-4">
                <span class="ml-6 lg:ml-4 order-2 text-loco-umber">
                  {% include 'icons/size' icon_class: 'mx-auto block fill-current w-20' %}
                </span>
                <p
                  class="flex-1 order-1 uppercase font-bold text-xl sm:text-2xl lg:text-xl xl:text-2xl text-loco-tan text-center">
                  {{_content.details[2]}}</p>
              </div>
            </div>
            <div class="w-2/5 flex flex-col items-center justify-center border-l-2 border-loco-tan p-4">
              <span>
                {% include 'icons/thermometer' icon_class: 'mx-auto block' %}
              </span>
              <p class="mt-2 uppercase font-bold text-xl sm:text-2xl lg:text-xl xl:text-2xl text-loco-tan text-center">
              {{_content.details[1]}}</p>
            </div>
          </div>
        </div>
        {% comment %} Product Dropdown {% endcomment %}
        <div class=" py-6 md:pl-6 lg:p-6 border-t-2 border-loco-tan md:col-span-2 xl:h-1/3 flex items-center w-full">
          <div class="relative w-full">
            <div class="flex items-center justify-center">
              <span class="mr-6 lg:mr-4 ">
                {% include 'icons/heat' icon_class: 'block' %}
              </span>
              <p class="mt-2 uppercase font-bold text-xl sm:text-2xl lg:text-2xl xl:text-4xl text-loco-tan text-center">
                {{_content.btu}}</p>
            </div>
          {% comment %}
          <select class="w-full appearance-none border-2 border-loco-tan p-4 bg-transparent text-loco-tan uppercase text-xl font-bold tracking-wider cursor-pointer pr-12 focus:outline-none focus:ring focus:border-loco-blue">
            <option value="" disabled selected >Select a store to buy</option>
            <option value="">Walmart</option>
            <option value="">Home Depot</option>
            <option value="">Lowe's</option>
            <option value="">Ace Hardware</option>
          </select>
          <svg class=" absolute top-1/2 right-4 transform -translate-y-1/2" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

            <rect width="26" height="26" fill="url(#pattern0)"/>
            <defs>
            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0_2_90" transform="scale(0.0078125)"/>
            </pattern>
            <image id="image0_2_90" width="128" height="128" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABmJLR0QA/wD/AP+gvaeTAAAB+klEQVR4nO3cO25TURiF0QwqVBRUoBQwoxSUTBYJRUIW1aYwR6CA8X2fx12rdvHL33Z048IPDwAAAAAAAAAAAAAAAAAAAAAAAAAAAPQuyXOSp9p3nE2SpyTPtY/4nKsfST5VPeZEknxIcvn13n+pdUSJHyM4zqv4qTKCf8Q3ggPciH/sCP4T3wh2dCf+MSPI9YFviks8GG4m1we+e/GL/R4MJ66w8JdgAwve84+tHWQECzUXf8VhRjBTs/FXHGgEEzUff8WhRnBHN/FXHGwEN3QXvzCC9bqNXxjBct3HL4xgvmHiF0Yw3XDxCyO4b9j4hRHcNnz8wgj+dpr4hRH8drr4hRGcOH5x5hGcPn5xxhGI/8qZRiD+DWcYgfh3jDwC8ScacQTizzTSCMRfaIQRiL9SzyMQfyM9jkD8jfU0AvF30sMIxN9ZyyMQ/yAtjkD8g7U0AvEraWEE4ldWcwTiN6LGCMRvzJEjEL9RR4xA/MbtOQLxO7HHCMTvzJYjEL9TW4xA/M6tGYH4g1gyAvEHk3m/qnmZ+Vq/ftqDmZ/qKXzye7PhCMTv1QYjEL93K0Yg/igWjED80cwYgfijmjAC8UeX298T+D//LJK8S/LyR/zvSd7XvosDJXmT5GuSb0ne1r6HCpI8JnmsfQcAAAAAAAAAAAAAAADAPD8BshG63yz7/Y0AAAAASUVORK5CYII="/>
            </defs>
            </svg>
            {% endcomment %}
            </div>
        </div>

      </div>


    </div>

  </div>
</article>